html { 
  background: url(images/cliff.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#container {
	font-family: Georgia, Helvetica, Verdana;
	font-size: 11pt;
}
#nav {
	width: 100%;
	height: 35px;
	background-color: rgb(128, 211, 247);
	border-radius: 25px;
}
#nav a {
    display: block;
    width: 60px;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}
.logo {
	text-align:left;
	width:90%;
	padding: 10px;
	padding-left:20px;
	padding-top: 7px;
	float: left;
	font-weight:bold;
	font-style:italic;
	font-size: 14pt;
}

.feed1 {
	text-align: center;
	width: 500px;
	margin:auto;
	margin-top:20px;
	background-color: rgba(67, 146, 199, 0.91);
	height: 100%;
	padding: 10px;
	border-radius: 25px;
	float: left;
}
.feed2 {
	text-align: center;
	width: 100%;
}
.feed3 {
	text-align: center;
	width: 100%;
}
.feed4 {
	text-align: center;
	width: 100%;
}
.tweetButton {
	width: 90%;
	height: 30px;
	border-radius: 25px;
	background-color: rgb(128, 211, 247);
	border: 0px;
	font-family: Georgia, Helvetica, Verdana;
	font-size: 11pt;
	font-weight: bold;
	margin:10px;
}
.following {
	float: left;
	text-align: center;
	width: 250px;
	margin:auto;
	margin-left: 20px;
	margin-top:20px;
	background-color: rgba(67, 146, 199, 0.91);
	height: 60%;
	padding: 10px;
	border-radius: 25px;
	height:300px;
}
h3 {
	background-color: rgb(128, 211, 247);
	border-radius: 25px;
	height: 27px;
	margin-top:10px;
	padding-top: 5px;
	font-weight: bold;
}
.userfeed {
	text-align: center;
	width: 100%;
}